.title {
  color: rgba(45, 0, 168);
  text-shadow: 20px 20px 20px rgb(255, 255, 233), 2px 2px 2px green;
}
.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0px 40px 0px 40px;
}

.movieCard {
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(45, 0, 168, 0.397),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: honeydew;
}
.movieCard:nth-child(4n) {
  margin-right: 0;
}

.movieCard:hover,
.movieCard:focus {
  transform: scale(1.03);
  box-shadow: 0 0 30px rgb(45, 0, 168);
}

.movieCardImage {
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
}
.movieCardTitle {
  font-size: 16px;
  text-decoration: none;
  color: rgb(197, 118, 0);
}
